/* CSS Document */
*{margin:0px;padding:0px;}
li{ list-style:none;
height:40px;}
#nav{background-color:#CCC;
width:480px;
}
h1{ height:40px;}
#header{
	margin-top:-160px;
	background-color:#900;
	width:480px;}

